* {
    padding: 0;
    margin: 0;
}

.page {
    width: 1020px;
    margin: 0 auto;
}

body {
    font-family: Arial, sans-serif;
}
nav {
    background-color: darkkhaki;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    
}


nav a {
    color: whitesmoke;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    width: 100px;
    text-align: center;
}

.promo {
    background-image: url("/images/promo.jpg");
    background-size: 100% 100%;
    height: 353px;
    position: relative;
}
.promo img {
    position: absolute;
    top: -45px;
    left: 80px;

}

.promo h1 {
    position: absolute;
    right: 100px;
    bottom: 110px;
    color: white;
}