* {
    padding: 0;
    margin: 0;
}

.page {
    width: 1024px;
    margin: 0 auto;
}

body {
    font-family: Arial, sans-serif;
}
nav {
    background-color: darkkhaki;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    
}


nav a {
    color: whitesmoke;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    width: 100px;
    text-align: center;
}
